.timer-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
    font-size: 8px;
	color: #aaa;
}

.time {
  font-size: 20px;
}
.too-late {
    font-size: 10px;
}
