@font-face {
  font-family: "Billabong";
  src: url("/fonts/Billabong.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "billabongregular";
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff")
      format("woff"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf")
      format("truetype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);

  --poll-tools-padding-x: 10px;
  --poll-tools-padding-y: 5px;
  --default-border-radius: 10px;
  --shadow-light-1: rgba(0, 0, 0, 0.22);
  --color-white: #fff;
  --color-secondary-dark: #ff7730;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-3: #e9e9e9;
  --color-blue-dark-1: #495057;
  --color-grey-dark-2: #777;
  --color-input-border-1: #dee2e6;
  --color-grey-light-4: #e0e0e0;
  --color-grey-dark-1: #999;
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-damp: #3bac60;
  --color-primary-dark: #28b485;
  --color-danger--1-unfocused: rgb(217, 83, 79, 0.4);
  --color-danger--1: #d9534f;
  --color-primary-light: #7ed56f;
  --color-primary-damp: #3bac60;
  --color-tertiary: #2998ff;
  --color-tertiary-light: #228be6;
  --color-tertiary-extra-light: #7ebbf0;
  --color-tertiary-dark: #1c7ed6;
  --color-tertiary-dark--1: #006ec9;
  --color-tertiary-dark--2: #3e7aeb;
  --color-input-border-3: #ccc;
  --color-black: #000;
  /* --ion-tab-bar-background: var(--ion-color-primary); */
  /* --ion-tab-bar-color: var(--ion-color-primary-contrast); */
  /* --ion-tab-bar-color-selected: var(--ion-color-dark-tint); */
  /* --ion-tab-bar-background: var(--ion-color-primary);
  --ion-tab-bar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-color-selected: var(--ion-color-dark-tint); */
}

.Toastify__toast-container {
  /* Show underneath side drawer */
  z-index: 999;
}
.Toastify__toast-container.Toastify__toast-container--bottom-right,
.Toastify__toast-container.Toastify__toast-container--bottom-center,
.Toastify__toast-container.Toastify__toast-container--bottom-left {
  /* Show above bottom nav/toolbar */
  margin-bottom: 50px;
}
.toast-secondary {
  font-size: 12px;
  font-style: italic;
}

.popover-wrapper .popover-content {
  width: 80vw;
  max-width: 500px;
}

ion-back-button {
  --color: var(--ion-color-primary-contrast);
}
/* .datetime-text */
.datetime-text,
.form-item__input #shadow-root,
.form-item__input::part(placeholder),
.form-item__input::shadow div,
.form-item__input div,
.form-item__input .datetime-text {
  margin-top: 3px;
}
ion-datetime.form-item__input::part(placeholder) {
  margin-top: 3px;
}

#header-logo-text {
  font-size: 2rem;
  font-family: "billabongregular", "Billabong";
  font-weight: 500;
  padding-top: 9px;
}

#header-logo-icon {
  padding-left: 3px;
  font-size: 1.6rem;
  vertical-align: center;
}

.form-form-wrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 40px;
  border-radius: var(--default-border-radius);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px var(--shadow-light-1);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px var(--color-grey-dark-3); */
  /* box-shadow: 0px 10px 50px var(--color-grey-dark-3); */
  background-color: var(--color-white);
}
.optional,
.form-title {
  color: var(--color-blue-dark-1);
  margin: 0;
  /* font-size: 3.4rem; */
  /* margin-bottom: 1rem; */
  /* border-bottom: 1px solid var(--color-input-border-1); */
}
.form-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 6px 0;
}

.form-item.form-item--clipboard {
  width: 200px;
}

.form-item.form-item--no-margin {
  margin: 0;
}

.form-item--row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-item .form-item__multiline-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-item .form-item__multiline-label .form-item__multiline-label-description {
  /* font-size: 1rem; */
}

.form-item p,
.form-item label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blue-dark-1);
}

.form-item label {
  /* font-size: 1.8rem; */
  font-weight: 500;
}
.form-item p {
  font-size: 10px;
}

.form-item label.optional::after,
.form-item p.optional::after {
  align-self: flex-end;
  margin-left: 5px;
  font-style: italic;
  content: "(optional)";
  font-size: 10px;
  color: var(--color-secondary-dark);
}
.form-item label.required::after,
.form-item p.required::after {
  align-self: flex-end;
  margin-left: 5px;
  font-style: italic;
  content: "(required)";
  font-size: 10px;
  color: var(--color-secondary-dark);
}
.form-item__submit {
  /* height: 5.5rem; */
  height: 60px;
  /* margin-top: 1rem; */
  margin-bottom: 4px;
}

.form-item__input {
  height: 47px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 2px solid var(--color-input-border-1);
  /* font-size: var(--form-input-size); */
  color: var(--color-blue-dark-1);
  font-family: "Montserrat", sans-serif;
  margin-right: -35px;
  padding-right: 40px;
  padding-left: 8px;
}

.form-item__input--small:disabled,
.form-item__input:disabled {
  background: var(--color-grey-light-1);
}

.form-item__input.form-item__input--clipboard {
  /* font-size: var(--form-input-size--clipboard); */
  padding-right: 3.6rem;
  background: var(--color-grey-light-3);
}

.form-item__input--small {
  font-size: var(--form-input-size--small);
  height: 43px;
}

.form-item__input:focus:not(.form-item__input--clipboard) {
  border-color: #4dabf7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
}

.form-item__input--textarea {
  /* min-height: 7rem; */
  resize: vertical;
}

/* Font Awesome Icon inside input */
.form-item-wrapper .form-item__input[type="text"]:before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item .form-item__input::placeholder {
  /* font-size: var(--form-placeholder-size); */
  font-weight: 400;
  color: var(--color-grey-dark-1);
}

.form-item__input-icon {
  /* font-size: 1.5rem; */
  color: var(--color-grey-dark-1);
}
.form-item__input-icon.form-item__input-icon--clipboard {
  padding: 4px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.form-item__input-icon.form-item__input-icon--clipboard:hover {
  color: var(--color-primary);
}
.form-item__input-icon.form-item__input-icon--clipboard:active {
  filter: brightness(0.85);
}
.form-item__input-remove {
  /* font-size: 1.5rem; */
  color: var(--color-danger--1-unfocused);
  transition: color 0.2s ease-out;
}
.form-item-wrapper:hover .form-item__input-remove {
  color: var(--color-danger--1);
}

.form-item__input-remove:hover {
  cursor: pointer;
}

.form-item .form-item__input.form-item__input--err {
  border: 1px solid var(--color-danger--1);
}

.form-item .form-item__error {
  color: var(--color-danger--1);
}

.form-item__error {
  color: var(--color-danger--1);
  /* font-size: 1.4rem; */
}

.form-switch p,
.form-description p {
  margin: 0;
}

.form-switch {
  font-size: 0.8rem;
  width: 100%;
  text-align: right;
}

.form-switch-action {
  text-decoration: none;
  font-style: italic;
  /* color: var(--color-grey-dark-1); */
  color: var(--color-primary-light);
  font-weight: 700;
}

.form-switch-action:hover,
.form-switch-action:active {
  color: var(--color-primary);
  cursor: pointer;
}

.form-switch.form-switch--center {
  text-align: center;
}
.form-item .form-item__multiline-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-item .form-item__multiline-label .form-item__multiline-label-description {
  font-size: 10px;
}

.btn {
  padding: 8px 20px;
  margin-top: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn.disabled,
.btn:disabled,
.btn.btn--tertiary.disabled,
.btn.btn--tertiary:disabled,
.btn--primary-outline.disabled,
.btn--primary-outline:disabled {
  background: var(--color-grey-dark-2);
  border-color: var(--color-grey-dark-2);
  color: var(--color-white);
  cursor: default;
}

.btn.btn--tertiary {
  color: var(--color-white);
  background-color: var(--color-tertiary);
  transition: all 0.2s ease-in;
}

.btn.btn--tertiary:not(.disabled):not(:disabled):hover {
  background: var(--color-tertiary-dark);
}
.btn.btn--tertiary:not(.disabled):not(:disabled):active {
  background: var(--color-tertiary-dark--1);
}
.btn.btn--danger {
  color: var(--color-white);
  background-color: var(--color-danger--1);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.btn.btn--danger:not(.disabled):not(:disabled):hover {
  filter: brightness(0.95);
}
.btn.btn--danger:not(.disabled):not(:disabled):active {
  filter: brightness(0.8);
}

.btn.btn--primary {
  color: var(--color-white);
  background: var(--color-primary-light);
  transition: background-color 0.2s ease-out;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
.btn.btn--primary:hover {
  background: var(--color-primary);
}
.btn.btn--primary:active {
  background: var(--color-primary-damp);
}

.btn.btn--primary-outline {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: all 0.3s ease-out;
  border: 2px solid transparent;
}

.btn.btn--primary-outline:not(.disabled):not(:disabled):hover {
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-primary);
}
.btn.btn--primary-outline:not(.disabled):not(:disabled):active {
  transform: scale(0.992);
  -webkit-transform: scale(0.992);
  /* transform: translateY(1px) scale(.99); */
}

.form-description {
  text-align: left;
  width: 100%;
  font-size: 11px;
}

ion-item.option-item::part(native) {
  border: none;
}

.option-item {
  display: flex;
  align-items: center;
}

.option-item:not(:first-child) {
  margin-top: 5px;
  border-radius: 4px;
}
.option-reorder {
  margin-left: -32px;
}
